###python Basics practice  Assignment 2
#Name : Aasif Majeed

## **TOPIC: String Based Assignment Problem**

## ***1. Write a program to reverse a string.***

In [ ]:
def reverse_string(input_str): #take the input string
    reversed_str = input_str[::-1]  #using string slicing method
    return reversed_str

# Test the function
original_string = "Hello, World!"
reversed_string = reverse_string(original_string)

print("Original String:", original_string)
print("Reversed String:", reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

In [ ]:
def reverse_string(input_str):
    reversed_str = ''.join(reversed(input_str))  #using inbuilt functions
    return reversed_str

# Test the function
original_string = "Hello, World!"
reversed_string = reverse_string(original_string)

print("Original String:", original_string)
print("Reversed String:", reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

## **2. Check if a string is a palindrome.**

In [ ]:
# Taking input from the user
input_string = input("Enter a string here : ")
print('your string is:',input_string)
# Removing spaces and converting to lowercase for comparison
cleaned_string = input_string.replace(" ", "").lower()

# Reversing the cleaned string
reversed_string = cleaned_string[::-1]

# Checking if the string is a palindrome
if cleaned_string == reversed_string:
    print("your entered string is a palindrome.")
else:
    print("your entered string is not a palindrome.")

Enter a string here : Yo banana boy
your string is: Yo banana boy
your entered string is a palindrome.

A palindrome is a word, phrase, number, or other sequences of characters that reads the same forward and backward (ignoring spaces, punctuation, and capitalization).

In [ ]:
def is_palindrome(s):
    # Convert the string to lowercase to ensure case-insensitive comparison
    s = s.lower()

    # Remove spaces and punctuation from the string
    s = ''.join(e for e in s if e.isalnum())

    # Compare the original string with its reverse
    return s == s[::-1]

return s == s[::-1]: This line compares the modified string (s) with its reverse (s[::-1]) using the equality operator (==). If the string and its reverse are the same, it means the input string is a palindrome, and the function will return True. Otherwise, it will return False.

In [ ]:
print(is_palindrome("racecar"))
print(is_palindrome("hello"))
print(is_palindrome("A man, a plan, a canal, Panama"))

True
False
True

## **3. Convert a string to uppercase.**

In [ ]:
# Take input from the user
user_input = input("Enter a string: ")

# Convert the input string to uppercase
uppercase_string = user_input.upper()

# Display the original and uppercase strings
print("Original String:", user_input)
print("Uppercase String:", uppercase_string)

Enter a string: aasif
Original String: aasif
Uppercase String: AASIF

**4. Convert a string to lowercase**

In [ ]:
# Take input from the user
user_input = input("Enter a string: ")

# Convert the input string to lowercase
lowercase_string = user_input.lower()

# Display the original and lowercase strings
print("Original String:", user_input)
print("Lowercase String:", lowercase_string)

Enter a string: AASIF
Original String: AASIF
Lowercase String: aasif

## **5. Count the number of vowels in a string.**

In [ ]:
# Taking input from the user
sentence = input("Enter a sentence: ")
print('your sentense is:',sentence)
# Counting the number of vowels using count() method
vowel_count = sentence.lower().count("a") + sentence.lower().count("e") + sentence.lower().count("i") + sentence.lower().count("o") + sentence.lower().count("u")

# Displaying the result
print("Number of vowels:", vowel_count)

Enter a sentence: this is a data science course assignment one
your sentense is: this is a data science course assignment one
Number of vowels: 16

In [ ]:
 #using for loop methods

 def count_vowels(string):
    # Initialize a variable to keep track of the vowel count
    vowel_count = 0

    # Convert the input string to lowercase to handle both upper and lowercase vowels
    string = string.lower()

    # Define a set of vowels
    vowels = "aeiou"

    # Iterate through each character in the string
    for letter in string:
        # Check if the character is a vowel
        if letter in vowels:
            # Increment the vowel count if the character is a vowel
            vowel_count += 1

    # Return the final vowel count
    return vowel_count

# Test the function
input_string = "this is a data science course assignment one"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 16

## **6. Count the number of consonants in a string.**

In [ ]:
 def count_consonants(string):
    # Initialize a variable to keep track of the count of consonants
    consonant_count = 0

    # Define a set of consonant characters
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

    # Iterate through each character in the input string
    for char in string:
        # Check if the character is in the set of consonants
        if char in consonants:
            # Increment the consonant count
            consonant_count += 1

    # Return the final count of consonants
    return consonant_count

# Input string
input_string = "this is a data science course assignment one"

# Call the function and print the result
result = count_consonants(input_string)
print("Number of consonants:", result)

Number of consonants: 21

## **7. Remove all whitespaces from a string.**

In [ ]:
# Taking input from the user
input_string = input("Enter a string: ")
print('your string is:',input_string)
# Removing spaces from the input string
modified_string = input_string.replace(" ", "")

# Displaying the modified string
print("Modified string:", modified_string)

Enter a string: Remove all whitespaces from a string
your string is: Remove all whitespaces from a string
Modified string: Removeallwhitespacesfromastring

## **8.Find the length of a string without using the `len()` function.**

In [ ]:
def calculate_string_length(input_string):
    # Initialize a variable to store the length of the string
    length = 0

    # Iterate through each character in the input string
    for letter in input_string:
        # Increment the length for each character encountered
        length += 1

    # Return the calculated length
    return length

# Take input from the user
user_input = input("Enter a string: ")

# Calculate the length of the string using the custom function
string_length = calculate_string_length(user_input)

# Display the length of the string
print("Length of the string:", string_length)

Enter a string: my name is aasif majeed
Length of the string: 23

## **9. Check if a string contains a specific word.**

In [ ]:
def contains_word(input_string, target_word):
    # Check if the target word is in the input string
    return target_word in input_string

# Test the function
user_input = input("Enter a string: ")
target_word = input("Enter the word to check for: ")

if contains_word(user_input, target_word):
    print(f'The string "{user_input}" contains the word "{target_word}".')
else:
    print(f'The string "{user_input}" does not contain the word "{target_word}".')

Enter a string: my name is aasif majeed from jammu and kashmir.
Enter the word to check for: aasif
The string "my name is aasif majeed from jammu and kashmir." contains the word "aasif".

## **10. Replace a word in a string with another word.**

In [ ]:
def replace_word(input_string, old_word, new_word):
    # Replace occurrences of the old word with the new word using the replace() method
    modified_string = input_string.replace(old_word, new_word)

    # Return the modified string
    return modified_string

# Take input from the user
user_input = input("Enter a string: ")

# Take input for the word to be replaced
old_word = input("Enter the word to replace: ")

# Take input for the new word
new_word = input("Enter the new word: ")

# Call the replace_word function to perform the replacement
modified_string = replace_word(user_input, old_word, new_word)

# Display the original and modified strings
print(f'Original String: "{user_input}"')
print(f'Modified String: "{modified_string}"')

Enter a string: this is not data science course
Enter the word to replace: not
Enter the new word: surely
Original String: "this is not data science course "
Modified String: "this is surely data science course "

## **11. Count the occurrences of a word in a string.**

In [ ]:
def count_occurrences(input_string, target_word):
    # Use the count() method to count occurrences of the target word
    occurrences = input_string.lower().count(target_word.lower())
    return occurrences

# Test the function
user_input = input("Enter a string: ")
target_word = input("Enter the word to count: ")

occurrences = count_occurrences(user_input, target_word)

print(f'The word "{target_word}" occurs {occurrences} times in the string.')

Enter a string: This is an apple, and that is also an apple. The apples are red and green.
Enter the word to count: Apple
The word "Apple" occurs 3 times in the string.

## **12. Find the first occurrence of a word in a string.**

In [ ]:
def find_first_occurrence(input_string, target_word):
    # Use the find() method to find the first occurrence of the target word
    index = input_string.lower().find(target_word.lower())
    return index

# Test the function
user_input = input("Enter a string: ")
target_word = input("Enter the word to find: ")

index = find_first_occurrence(user_input, target_word)

if index != -1:
    print(f'The first occurrence of the word "{target_word}" starts at index {index}.')
else:
    print(f'The word "{target_word}" does not occur in the string.')

Enter a string:  This is an apple, and that is also an apple. The apples are red and green.
Enter the word to find: apple
The first occurrence of the word "apple" starts at index 12.

## **13. Find the last occurrence of a word in a string.**

In [ ]:
def find_last_occurrence(input_string, target_word):
    # Use the rfind() method to find the last occurrence of the target word
    #The rfind() method is used to find the index of the last occurrence of the target_word
    index = input_string.lower().rfind(target_word.lower())
    return index

# Test the function
user_input = input("Enter a string: ")
target_word = input("Enter the word to find: ")

index = find_last_occurrence(user_input, target_word)

if index != -1:
    print(f'The last occurrence of the word "{target_word}" starts at index {index}.')
else:
    print(f'The word "{target_word}" does not occur in the string.')

Enter a string: This is an apple, and that is also an apple. The apples are red and green.
Enter the word to find: apple
The last occurrence of the word "apple" starts at index 49.

## **14. Split a string into a list of words.**

In [ ]:
def split_string(input_string):
    # Use the split() method to split the string into a list of words
    word_list = input_string.split()
    return word_list

# Test the function
user_input = input("Enter a string: ")
words = split_string(user_input)

print(f'The string "{user_input}" has been split into the following words:')
print(words)

Enter a string: This is an apple, and that is also an apple. The apples are red and green.
The string "This is an apple, and that is also an apple. The apples are red and green." has been split into the following words:
['This', 'is', 'an', 'apple,', 'and', 'that', 'is', 'also', 'an', 'apple.', 'The', 'apples', 'are', 'red', 'and', 'green.']

## **15. Join a list of words into a string.**

In [ ]:
def join_words(word_list):
    # Use the join() method to join the list of words into a string
    joined_string = ' '.join(word_list)
    return joined_string

# Test the function
word_list = ["Hello,", "how", "are", "you", "today?"]
joined_string = join_words(word_list)

print(f'The list of words has been joined into the following string:')
print(joined_string)

The list of words has been joined into the following string:
Hello, how are you today?

## **16. Convert a string where words are separated by spaces to one where words are separated by underscores.**

In [ ]:
def replace_spaces_with_underscores(input_string):
    # Use the replace() method to replace spaces with underscores
    modified_string = input_string.replace(' ', '_')
    return modified_string

# Test the function
user_input = input("Enter a string: ")
modified_string = replace_spaces_with_underscores(user_input)

print(f'The string "{user_input}" has been modified with underscores:')
print(modified_string)

Enter a string: Hello, how are you today?
The string "Hello, how are you today?" has been modified with underscores:
Hello,_how_are_you_today?

## **17. Check if a string starts with a specific word or phrase.**

In [ ]:
def starts_with_word(input_string, target_word):
    # Use the startswith() method to check if the string starts with the target word
    starts_with = input_string.lower().startswith(target_word.lower())
    return starts_with

# Test the function
user_input = input("Enter a string: ")
target_word = input("Enter the word or phrase to check for at the beginning: ")

if starts_with_word(user_input, target_word):
    print(f'The string "{user_input}" starts with the word or phrase "{target_word}".')
else:
    print(f'The string "{user_input}" does not start with the word or phrase "{target_word}".')

Enter a string: Python is a powerful programming language.
Enter the word or phrase to check for at the beginning: python
The string "Python is a powerful programming language." starts with the word or phrase "python".

## **18. Check if a string ends with a specific word or phrase.**

In [ ]:
def ends_with_word(input_string, target_word):
    # Use the endswith() method to check if the string ends with the target word
    ends_with = input_string.lower().endswith(target_word.lower())
    return ends_with

# Test the function
user_input = input("Enter a string: ")
target_word = input("Enter the word or phrase to check for at the end: ")

if ends_with_word(user_input, target_word):
    print(f'The string "{user_input}" ends with the word or phrase "{target_word}".')
else:
    print(f'The string "{user_input}" does not end with the word or phrase "{target_word}".')

Enter a string: Python is a powerful programming language.
Enter the word or phrase to check for at the end: python
The string "Python is a powerful programming language." does not end with the word or phrase "python".

## **19. Convert a string to title case (e.g., "hello world" to "Hello World").**

In [ ]:
def convert_to_title_case(input_string):
    # Use the title() method to convert the string to title case
    title_case_string = input_string.title()
    return title_case_string

# Test the function
user_input = input("Enter a string: ")
title_case_result = convert_to_title_case(user_input)

print(f'The string "{user_input}" has been converted to title case:')
print(title_case_result)

Enter a string: hello world
The string "hello world" has been converted to title case:
Hello World

## **20. Find the longest word in a string.**

In [ ]:
def find_longest_word(input_string):
    # Split the string into words
    words = input_string.split()

    # Initialize variables to track the longest word and its length
    longest_word = ""
    max_length = 0

    # Iterate through each word to find the longest one
    for word in words:
        # Remove any punctuation from the word (optional)
        cleaned_word = ''.join(c for c in word if c.isalnum())

        # Check if the current word is longer than the current longest word
        if len(cleaned_word) > max_length:
            longest_word = cleaned_word
            max_length = len(cleaned_word)

    return longest_word

# Test the function
user_input = input("Enter a string: ")
longest_word_result = find_longest_word(user_input)

if longest_word_result:
    print(f'The longest word in the string is: "{longest_word_result}"')
else:
    print("The input string does not contain any words.")

Enter a string: this is a datascience course
The longest word in the string is: "datascience"

## **21. Find the shortest word in a string.**

In [ ]:
def find_shortest_word(input_string):
    # Split the string into words
    words = input_string.split()

    # Initialize variables to track the shortest word and its length
    shortest_word = None
    min_length = float('inf')  # Set to positive infinity initially

    # Iterate through each word to find the shortest one
    for word in words:
        # Remove any punctuation from the word (optional)
        cleaned_word = ''.join(c for c in word if c.isalnum())

        # Check if the current word is shorter than the current shortest word
        if len(cleaned_word) < min_length:
            shortest_word = cleaned_word
            min_length = len(cleaned_word)

    return shortest_word

# Test the function
user_input = input("Enter a string: ")
shortest_word_result = find_shortest_word(user_input)

if shortest_word_result:
    print(f'The shortest word in the string is: "{shortest_word_result}"')
else:
    print("The input string does not contain any words.")

Enter a string: this is a data science course
The shortest word in the string is: "a"

## **22. Reverse the order of words in a string.**

In [ ]:
def reverse_words_order(input_string):
    # Split the string into words
    words = input_string.split()

    # Reverse the order of words
    reversed_words = reversed(words)

    # Join the reversed words to form the reversed string
    reversed_string = ' '.join(reversed_words)

    return reversed_string

# Test the function
user_input = input("Enter a string: ")
reversed_string_result = reverse_words_order(user_input)

print(f'The reversed order of words in the string is:')
print(reversed_string_result)

Enter a string: this is  a datascience course
The reversed order of words in the string is:
course datascience a is this

## **23. Check if a string is alphanumeric.**

In [ ]:
def is_alphanumeric(input_string):
    # Use the isalnum() method to check if the string is alphanumeric
    return input_string.isalnum()

# Test the function
user_input = input("Enter a string: ")

if is_alphanumeric(user_input):
    print(f'The string "{user_input}" is alphanumeric.')
else:
    print(f'The string "{user_input}" is not alphanumeric.')

Enter a string: Hello123
The string "Hello123" is alphanumeric.

## **24. Extract all digits from a string.**

In [ ]:
def extract_digits(input_string):
    # Use a list comprehension to extract all digits from the string
    digits = [char for char in input_string if char.isdigit()]
    return ''.join(digits)

# Test the function
user_input = input("Enter a string: ")
extracted_digits = extract_digits(user_input)

if extracted_digits:
    print(f'The digits extracted from the string are: {extracted_digits}')
else:
    print('The string does not contain any digits.')

Enter a string: Hello123World456
The digits extracted from the string are: 123456

25. Extract all alphabets from a string.

In [ ]:
def extract_alphabets(input_string):
    # Use a list comprehension to extract all alphabets from the string
    alphabets = [char for char in input_string if char.isalpha()]
    return ''.join(alphabets)

# Test the function
user_input = input("Enter a string: ")
extracted_alphabets = extract_alphabets(user_input)

if extracted_alphabets:
    print(f'The alphabets extracted from the string are: {extracted_alphabets}')
else:
    print('The string does not contain any alphabets.')

Enter a string: Hello123
The alphabets extracted from the string are: Hello

## **26. Count the number of uppercase letters in a string.**

In [ ]:
def count_uppercase_letters(input_string):
    # Use a list comprehension to create a list of uppercase letters
    uppercase_letters = [char for char in input_string if char.isupper()]

    # Return the length of the list, which represents the count of uppercase letters
    return len(uppercase_letters)
input_string = "HelloWORLD"
result = count_uppercase_letters(input_string)
print(result)

6

## **27. Count the number of lowercase letters in a string.**

In [ ]:
def count_lowercase_letters(input_string):
    # Initialize a counter for lowercase letters
    lowercase_count = 0

    # Iterate through each character in the string
    for char in input_string:
        # Check if the character is a lowercase letter
        if char.islower():
            lowercase_count += 1

    return lowercase_count

# Test the function
user_input = input("Enter a string: ")
lowercase_count_result = count_lowercase_letters(user_input)

print(f'The number of lowercase letters in the string is: {lowercase_count_result}')

Enter a string: THIS is a data science course
The number of lowercase letters in the string is: 20

In [ ]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

# Example input string
input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

## **28. Swap the case of each character in a string.**

In [ ]:
def swap_case(input_string):
    # Use the swapcase() method to swap the case of each character in the string
    swapped_string = input_string.swapcase()
    return swapped_string

# Test the function
user_input = input("Enter a string: ")
swapped_string_result = swap_case(user_input)

# Display the original and swapped strings
print(f'The original string is: {user_input}')
print(f'The string with swapped case is: {swapped_string_result}')

Enter a string: Python is Fun
The original string is: Python is Fun
The string with swapped case is: pYTHON IS fUN

## **29. Remove a specific word from a string.**

In [ ]:
def remove_word(input_string, target_word):
    # Use the replace() method to remove the target word from the string
    modified_string = input_string.replace(target_word, '')
    return modified_string

# Test the function
user_input = input("Enter a string: ")
target_word = input("Enter the word to remove: ")

modified_string_result = remove_word(user_input, target_word)

print(f'The string with "{target_word}" removed is: {modified_string_result}')

Enter a string: my name is aasif majeed sheikh
Enter the word to remove: sheikh
The string with "sheikh" removed is: my name is aasif majeed

## **30. Check if a string is a valid email address.**

In [ ]:
def is_valid_email_simple(email):
    # Split the email address into local part and domain part
    parts = email.split('@')

    # Check if there are exactly two parts
    if len(parts) == 2:
        local_part, domain_part = parts

        # Check if both parts are non-empty
        if local_part and domain_part:
            # Check if there is a dot in the domain part
            if '.' in domain_part:
                return True

    return False

# Test the function
user_email = input("Enter an email address: ")

if is_valid_email_simple(user_email):
    print(f'The email address "{user_email}" is valid.')
else:
    print(f'The email address "{user_email}" is not valid.')

Enter an email address: hjdhjsggdhdh@gmail.com
The email address "hjdhjsggdhdh@gmail.com" is valid.

In [ ]:
#using regular expressions
import re

def is_valid_email(email):
    # Define a regular expression pattern for a basic email validation
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'

    # Use re.match() to check if the email matches the pattern
    match = re.match(pattern, email)

    # If there's a match, the email is valid; otherwise, it's not
    return bool(match)

# Test the function
user_email = input("Enter an email address: ")

if is_valid_email(user_email):
    print(f'The email address "{user_email}" is valid.')
else:
    print(f'The email address "{user_email}" is not valid.')

Enter an email address: hjhghdgh@gmail.com
The email address "hjhghdgh@gmail.com" is valid.

 Inside the function, create a regular expression pattern (pattern) that matches a basic email format. The pattern uses the following components:
  - `^`: Anchors the pattern to the start of the string.
  - `[\w\.-]+`: Matches one or more word characters (letters, digits, underscores) or dots or hyphens, which are valid characters in the username part of the email.
  - `@`: Matches the "@" symbol.
  - `[\w\.-]+`: Matches one or more word characters (letters, digits, underscores) or dots or hyphens, which are valid characters in the domain name part of the email.
  - `\.`: Escapes and matches the literal dot (.) symbol.
  - `\w+$`: Matches one or more word characters (letters, digits, underscores) at the end of the string (domain suffix, like ".com").
- Use re.match(pattern, email) to match the email against the pattern. If the match is successful, the email is considered valid.

## **31. Extract the username from an email address string.**

In [ ]:
def extract_username(email):
    # Split the email address at '@' symbol and return the first part
    return email.split('@')[0]

# Example usage:
email_address = "user@example.com"
username = extract_username(email_address)
print(f"Username: {username}")

Username: user

## **32. Extract the domain name from an email address string.**

In [ ]:
def extract_domain(email):
    # Split the email address at '@' symbol and return the second part
    return email.split('@')[1]

# Example usage:
email_address = "user@gmail.com"
domain = extract_domain(email_address)
print(f"Domain: {domain}")

Domain: gmail.com

## **33. Replace multiple spaces in a string with a single space.**

In [ ]:
def replace_multiple_spaces(text):
    # Use regular expression to replace multiple spaces with a single space
    import re
    return re.sub(' +', ' ', text)

# Example usage:
sentence = "Hello    world!   How are you?"
cleaned_sentence = replace_multiple_spaces(sentence)
print(f"Cleaned Sentence: {cleaned_sentence}")

Cleaned Sentence: Hello world! How are you?

In [ ]:
#without using regular expression
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

## **34. Check if a string is a valid URL.**

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

## **35. Extract the protocol (http or https) from a URL string.**

In [ ]:
def extract_protocol(url):
    # Use the urllib.parse library to extract the scheme (protocol) from the URL
    from urllib.parse import urlparse
    return urlparse(url).scheme

# Example usage:
url = "https://www.example.com"
protocol = extract_protocol(url)
print(f"Protocol: {protocol}")

Protocol: https

In [ ]:
#without using url parser
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

## **36. Find the frequency of each character in a string.**

In [ ]:
def character_frequency(text):
    # Use a dictionary to count the frequency of each character
    frequency = {}
    for char in text:
        frequency[char] = frequency.get(char, 0) + 1
    return frequency

# Example usage:
text = "hello world"
char_freq = character_frequency(text)
print(f"Character Frequency: {char_freq}")

Character Frequency: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "Aasif majeed"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'A', Frequency: 1
Character: 'a', Frequency: 2
Character: 's', Frequency: 1
Character: 'i', Frequency: 1
Character: 'f', Frequency: 1
Character: ' ', Frequency: 1
Character: 'm', Frequency: 1
Character: 'j', Frequency: 1
Character: 'e', Frequency: 2
Character: 'd', Frequency: 1

## **37. Remove all punctuation from a string.**

In [ ]:
def remove_punctuation(text):
    # Use string.punctuation to remove all punctuation characters
    import string
    return text.translate(str.maketrans('', '', string.punctuation))

# Example usage:
text_with_punctuation = "Hello, world! How are you?"
cleaned_text = remove_punctuation(text_with_punctuation)
print(f"Cleaned Text: {cleaned_text}")

Cleaned Text: Hello world How are you

## **38. Check if a string contains only digits.**

In [ ]:
def contains_only_digits(text):
    # Use str.isdigit() to check if all characters in the string are digits
    return text.isdigit()

# Example usage:
numeric_string = "12345"
print(f"Contains Only Digits: {contains_only_digits(numeric_string)}")

Contains Only Digits: True

## **39. Check if a string contains only alphabets.**

In [ ]:
def contains_only_alphabets(text):
    # Use str.isalpha() to check if all characters in the string are alphabets
    return text.isalpha()

# Example usage:
alpha_string = "abcdef"
print(f"Contains Only Alphabets: {contains_only_alphabets(alpha_string)}")

Contains Only Alphabets: True

## **40. Convert a string to a list of characters.**

In [ ]:
def string_to_list(text):
    # Use list() to convert the string to a list of characters
    return list(text)

# Example usage:
word = "Python"
char_list = string_to_list(word)
print(f"List of Characters: {char_list}")

List of Characters: ['P', 'y', 't', 'h', 'o', 'n']

## **41. Check if two strings are anagrams.**

In [ ]:
#anagrams is a pair word, phrase, or name formed by rearranging the letters of another, such as spar, formed from rasp.
def are_anagrams(str1, str2):
    # Use sorted() to check if the sorted characters of both strings are equal
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "listen"
string2 = "silent"
print(f"Are Anagrams: {are_anagrams(string1, string2)}")

Are Anagrams: True

## **42. Encode a string using a Caesar cipher.**

In [ ]:
def caesar_cipher_encode(text, shift):
    # Initialize an empty string to store the encoded text
    encoded_text = ""

    # Iterate through each character in the input text
    for char in text:
        # Check if the character is an alphabet letter
        if char.isalpha():
            # Determine the offset based on whether the character is uppercase or lowercase
            offset = ord('A') if char.isupper() else ord('a')

            # Apply the Caesar cipher encoding formula:
            # 1. Calculate the new position of the character in the alphabet using modular arithmetic
            # 2. Convert the new position back to a character and append it to the encoded text
            encoded_text += chr((ord(char) - offset + shift) % 26 + offset)
        else:
            # If the character is not an alphabet letter, append it unchanged to the encoded text
            encoded_text += char

    # Return the final encoded text
    return encoded_text

# Example usage:
original_text = "Hello, World!"
shift_amount = 3
encoded_text = caesar_cipher_encode(original_text, shift_amount)
print(f"Encoded Text: {encoded_text}")

Encoded Text: Khoor, Zruog!

**Explanation of the Caesar cipher:**

1.*The Caesar cipher is a substitution cipher where each letter in the plaintext is shifted a certain number of places down or up the alphabet.*

>


2.*In this implementation, the shift parameter determines the number of positions each letter should be shifted.*

>


3.*The offset is used to determine whether the character is uppercase or lowercase, and the alphabet is treated as a circular structure using modulo arithmetic (% 26) to wrap around the alphabet if needed.*

>


4.*Non-alphabetic characters are left unchanged in the encoded text.*

## **44. Find the most frequent word in a string.**

In [ ]:
def most_frequent_word(text):
    # Use collections.Counter to count the frequency of each word
    from collections import Counter
    words = text.split()
    word_counts = Counter(words)
    most_common_word = word_counts.most_common(1)
    return most_common_word[0][0]

# Example usage:
text_with_words = "apple orange banana apple orange apple"
most_common_word_result = most_frequent_word(text_with_words)
print(f"Most Frequent Word: {most_common_word_result}")

Most Frequent Word: apple

## **45. Find all unique words in a string.**

In [ ]:
def unique_words(text):
    # Use set() to get unique words in the string
    words = text.split()
    unique_words_set = set(words)
    return list(unique_words_set)

# Example usage:
text_with_duplicate_words = "apple orange banana apple orange apple"
unique_words_list = unique_words(text_with_duplicate_words)
print(f"Unique Words: {unique_words_list}")

Unique Words: ['apple', 'orange', 'banana']

## **46. Count the number of syllables in a string.**

In [ ]:
def count_syllables(word):
    # Use a simple syllable counting algorithm
    vowels = "aeiouy"
    count = 0
    prev_char_is_vowel = False

    for char in word.lower():
        if char in vowels:
            if not prev_char_is_vowel:
                count += 1
            prev_char_is_vowel = True
        else:
            prev_char_is_vowel = False

    return count

# Example usage:
word_to_count_syllables = "elephant"
syllable_count = count_syllables(word_to_count_syllables)
print(f"Syllable Count: {syllable_count}")

Syllable Count: 3

## **47. Check if a string contains any special characters.**

In [ ]:
def contains_special_characters(text):
    # Use regex to check if the string contains any special characters
    import re
    # [^A-Za-z0-9] matches any character that is not a letter or digit
    return bool(re.search('[^A-Za-z0-9]', text))

# Example usage:
string_with_special_characters = "Hello@World"
contains_special = contains_special_characters(string_with_special_characters)
print(f"Contains Special Characters: {contains_special}")

Contains Special Characters: True

## **48. Remove the nth word from a string.**

In [ ]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

## **49. Insert a word at the nth position in a string.**

In [ ]:
def insert_word_at_nth_position(text, word, n):
    # Use split() to separate words and insert the new word at the specified position
    words = text.split()
    if 0 <= n <= len(words):
        words.insert(n, word)
    return ' '.join(words)

# Example usage:
sentence_to_insert_word = "This is a sample sentence."
word_to_insert = "great"
position_to_insert = 2
inserted_word_sentence = insert_word_at_nth_position(sentence_to_insert_word, word_to_insert, position_to_insert)
print(f"Inserted Word Sentence: {inserted_word_sentence}")

Inserted Word Sentence: This is great a sample sentence.

## **50. Convert a CSV string to a list of lists.**

In [ ]:
# Define a function to convert a CSV string to a list of lists
def csv_string_to_list(csv_string):
    # Import the csv module to handle CSV parsing
    import csv
    from io import StringIO  # Import StringIO for handling string as file

    # Wrap the CSV string in a StringIO object to simulate a file-like object
    csv_file = StringIO(csv_string)

    # Use csv.reader to parse the CSV string with the specified delimiter (',') and convert it to a list of lists
    # Set newline='' to handle universal-newline mode and avoid the new-line character error
    csv_list = list(csv.reader(csv_file, delimiter=','))

    # Return the resulting list of lists
    return csv_list

# Example usage:
csv_data_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_list = csv_string_to_list(csv_data_string)
print(f"CSV List: {csv_list}")

CSV List: [['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

In [ ]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']


# Topic : List Based Practice Problem

---

## **1. Create a list with integers from 1 to 10.**

In [ ]:
# Creating a list with integers from 1 to 10
integers= list(range(1, 11))
print(integers)
type(integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

## **2. Find the length of a list without using the `len()` function.**

In [ ]:
# Finding the length of a list without using len()
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using a loop to count the elements
length = 0
for i in my_list:
    length += 1

# Example
print("Length of the list:", length)

Length of the list: 10

## **3. Append an element to the end of a list.**

In [ ]:
# Appending an element to the end of a list
my_list = [1, 2, 3, 4, 5]

# Using append() method
my_list.append(6)

# Example
print(my_list)

[1, 2, 3, 4, 5, 6]

## **4. Insert an element at a specific index in a list.**

In [ ]:
# Inserting an element at a specific index in a list
my_list = [1, 2, 3, 4, 5]

# Using insert() method to insert 10 at index 2
my_list.insert(2, 10)

# Example
print(my_list)

[1, 2, 10, 3, 4, 5]

## **5. Remove an element from a list by its value.**

In [ ]:
# Removing an element from a list by its value
my_list = [1, 2, 3, 4, 5]

# Using remove() method to remove 3 from the list
my_list.remove(3)

# Example
print(my_list)

[1, 2, 4, 5]

## **6. Remove an element from a list by its index.**

In [ ]:
# Removing an element from a list by its index
my_list = [1, 2, 3, 4, 5]

# Using pop() method to remove element at index 2
removed_element = my_list.pop(2)

# Example
print("Removed element:", removed_element)
print("Updated list:", my_list)

Removed element: 3
Updated list: [1, 2, 4, 5]

## **7. Check if an element exists in a list.**

In [ ]:
# Checking if an element exists in a list
my_list = [1, 2, 3, 4, 5]

# Using the 'in' keyword
element_exists = 3 in my_list

# Example
print("Does 3 exist in the list?", element_exists)

Does 3 exist in the list? True

## **8. Find the index of the first occurrence of an element in a list.**

In [ ]:
# Finding the index of the first occurrence of an element in a list
my_list = [1, 2, 3, 4, 5, 3]

# Using index() method to find the index of 3
index_of_3 = my_list.index(3)

# Example
print("Index of the first occurrence of 3:", index_of_3)

Index of the first occurrence of 3: 2

## **9. Count the occurrences of an element in a list.**

In [ ]:
# Counting the occurrences of an element in a list
my_list = [1, 2, 3, 4, 5, 3, 3]

# Using count() method to count the occurrences of 3
count_of_3 = my_list.count(3)

# Example
print("Count of occurrences of 3:", count_of_3)

Count of occurrences of 3: 3


## **10. Reverse the order of elements in a list.**

In [ ]:
# Reversing the order of elements in a list
my_list = [1, 2, 3, 4, 5]

# Using reverse() method to reverse the list
my_list.reverse()

# Example
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

## **11. Sort a list in ascending order.**

In [ ]:
# Sorting a list in ascending order
my_list = [5, 2, 8, 1, 3]

# Using sort() method
my_list.sort()

# Example
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [1, 2, 3, 5, 8]

## **12. Sort a list in descending order.**

In [ ]:
# Sorting a list in descending order
my_list = [5, 2, 8, 1, 3]

# Using sort() method with reverse=True
my_list.sort(reverse=True)

# Example
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [8, 5, 3, 2, 1]

## **13. Create a list of even numbers from 1 to 20.**

In [ ]:
# Creating a list of even numbers from 1 to 20
even_numbers = list(range(2, 21, 2))

# Example
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## **14. Create a list of odd numbers from 1 to 20.**

In [ ]:
# Creating a list of odd numbers from 1 to 20
odd_numbers = list(range(1, 21, 2))

# Example
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## **15. Find the sum of all elements in a list.**

In [ ]:
# Finding the sum of all elements in a list
my_list = [1, 2, 3, 4, 5]

# Using sum() function
sum_of_elements = sum(my_list)

# Example
print("Sum of elements:", sum_of_elements)

Sum of elements: 15

## **16. Find the maximum value in a list.**

In [ ]:
# Finding the maximum value in a list
my_list = [3, 8, 1, 6, 2]

# Using max() function
max_value = max(my_list)

# Example
print("Maximum value:", max_value)

Maximum value: 8

## **17. Find the minimum value in a list.**

In [ ]:
# Finding the minimum value in a list
my_list = [3, 8, 1, 6, 2]

# Using min() function
min_value = min(my_list)

# Example
print("Minimum value:", min_value)

Minimum value: 1

## **18. Create a list of squares of numbers from 1 to 10.**

In [ ]:

# Creating a list of squares of numbers from 1 to 10
squares_list = [x**2 for x in range(1, 11)]

# Example
print("List of squares:", squares_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## **19. Create a list of random numbers.**

In [ ]:
# Creating a list of random numbers
import random

random_numbers = [random.randint(1, 100) for i in range(10)]

# Example
print("List of random numbers:", random_numbers)

List of random numbers: [84, 100, 86, 94, 67, 84, 57, 52, 17, 95]

## **20. Remove duplicates from a list.**

In [ ]:
# Removing duplicates from a list
my_list = [1, 2, 2, 3, 4, 4, 5]

# Using set() to eliminate duplicates and then converting back to list
unique_list = list(set(my_list))

# Example
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

## **21. Find the common elements between two lists.**

In [ ]:
# Finding the common elements between two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Using set intersection to find common elements
common_elements = list(set(list1) & set(list2))

# Example
print("Common elements between list1 and list2:", common_elements)

Common elements between list1 and list2: [3, 4, 5]

## **22. Find the difference between two lists.**

In [ ]:
# Finding the difference between two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Using set difference to find elements unique to each list
difference_list1 = list(set(list1) - set(list2))
difference_list2 = list(set(list2) - set(list1))

# Example
print("Elements unique to list1:", difference_list1)
print("Elements unique to list2:", difference_list2)

Elements unique to list1: [1, 2]
Elements unique to list2: [6, 7]

## **23. Merge two lists.**

In [ ]:
# Merge two lists using the + operator
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

# Example
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

In [ ]:
# Merge two lists using the extend() method
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

# Example
print("Merged list:", list1)

Merged list: [1, 2, 3, 4, 5, 6]

## **24. Multiply all elements in a list by 2.**

In [ ]:
# Multiply all elements in a list by 2 using a list comprehension
original_list = [1, 2, 3, 4, 5]

doubled_list = [x * 2 for x in original_list]

# Example
print("Original list:", original_list)
print("Doubled list:", doubled_list)

Original list: [1, 2, 3, 4, 5]
Doubled list: [2, 4, 6, 8, 10]

## **25. Filter out all even numbers from a list.**

In [ ]:
# Filter out all even numbers from a list using a list comprehension
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

filtered_list = [x for x in original_list if x % 2 != 0]

# Example
print("Original list:", original_list)
print("Filtered list (without even numbers):", filtered_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered list (without even numbers): [1, 3, 5, 7, 9]

In [ ]:
# Filter out all even numbers from a list using the filter() function
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

filtered_list = list(filter(lambda x: x % 2 != 0, original_list))

# Example
print("Original list:", original_list)
print("Filtered list (without even numbers):", filtered_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered list (without even numbers): [1, 3, 5, 7, 9]

## **26. Convert a list of strings to a list of integers.**

In [ ]:
# Convert a list of strings to a list of integers using a list comprehension
string_list = ["1", "2", "3", "4", "5"]

integer_list = [int(x) for x in string_list]

# Example
print("Original list of strings:", string_list)
print("Converted list of integers:", integer_list)

Original list of strings: ['1', '2', '3', '4', '5']
Converted list of integers: [1, 2, 3, 4, 5]

In [ ]:
# Convert a list of strings to a list of integers using the map() function
string_list = ["1", "2", "3", "4", "5"]

integer_list = list(map(int, string_list))

# Example
print("Original list of strings:", string_list)
print("Converted list of integers:", integer_list)

Original list of strings: ['1', '2', '3', '4', '5']
Converted list of integers: [1, 2, 3, 4, 5]

## **27. Convert a list of integers to a list of strings.**

In [ ]:
# Convert a list of integers to a list of strings using a list comprehension
integer_list = [1, 2, 3, 4, 5]

string_list = [str(x) for x in integer_list]

# Example
print("Original list of integers:", integer_list)
print("Converted list of strings:", string_list)

Original list of integers: [1, 2, 3, 4, 5]
Converted list of strings: ['1', '2', '3', '4', '5']

## **28. Flatten a nested list.**

In [ ]:
# Flatten a nested list using a recursive function
def flatten_list(nested_list):
    flattened = []
    for element in nested_list:
        if isinstance(element, list):
            flattened.extend(flatten_list(element))
        else:
            flattened.append(element)
    return flattened

# Example
nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]
flattened_list = flatten_list(nested_list)

print("Original nested list:", nested_list)
print("Flattened list:", flattened_list)

Original nested list: [1, [2, 3, [4, 5]], 6, [7, 8]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

## **29. Create a list of the first 10 Fibonacci numbers.**

# Fibonacci Numbers

Fibonacci numbers are a sequence of numbers in which each number is the sum of the two preceding ones. The sequence starts with 0 and 1. Formally, it can be defined by the recurrence relation:

\[ F(n) = F(n-1) + F(n-2) \]

with initial conditions:

\[ F(0) = 0,  F(1) = 1 \]

So, the sequence begins: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, and so on.

The Fibonacci sequence has applications in various areas, including mathematics, computer science, and nature (e.g., the arrangement of leaves on a stem or the spirals in a pinecone).

The formula and the sequence can be used to generate Fibonacci numbers, as demonstrated in the examples provided earlier.

In [1]:
 # Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(10)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## **30. Check if a list is sorted.**

In [2]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

## **31. Rotate a list to the left by `n` positions.**

In [3]:
# Rotate a list to the left by n positions
def rotate_left(input_list, n):
    n = n % len(input_list)  # Ensure n is within the length of the list
    return input_list[n:] + input_list[:n]

# Example
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(original_list, 2)

print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

## **32. Rotate a list to the right by `n` positions.**

In [4]:
# Rotate a list to the right by n positions
def rotate_right(input_list, n):
    n = n % len(input_list)  # Ensure n is within the length of the list
    return input_list[-n:] + input_list[:-n]

# Example
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(original_list, 2)

print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [4, 5, 1, 2, 3]

## **33. Create a list of prime numbers up to 50.**

In [5]:
# Check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a list of prime numbers up to 50
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

# Example
print("List of prime numbers up to 50:", prime_numbers_up_to_50)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## **34. Split a list into chunks of size `n`.**

In [6]:
# Split a list into chunks of size n
def split_into_chunks(input_list, n):
    return [input_list[i:i+n] for i in range(0, len(input_list), n)]

# Example
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunks = split_into_chunks(original_list, 3)

print("Original list:", original_list)
print("Chunks of size 3:", chunks)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

## **35. Find the second largest number in a list.**

In [7]:
# Find the second largest number in a list
def second_largest(input_list):
    if len(input_list) < 2:
        return "List should have at least two elements"

    sorted_list = sorted(input_list, reverse=True)
    return sorted_list[1]

# Example
numbers = [10, 5, 8, 12, 3, 7]

second_largest_number = second_largest(numbers)

print("Original list:", numbers)
print("Second largest number:", second_largest_number)

Original list: [10, 5, 8, 12, 3, 7]
Second largest number: 10

## **36. Replace every element in a list with its square.**

In [8]:
# Replace every element in a list with its square
original_list = [1, 2, 3, 4, 5]

squared_list = [x**2 for x in original_list]

# Example
print("Original list:", original_list)
print("List with elements replaced by their squares:", squared_list)

Original list: [1, 2, 3, 4, 5]
List with elements replaced by their squares: [1, 4, 9, 16, 25]

## **37. Convert a list to a dictionary where list elements become keys and their indices become values.**

In [9]:
# Convert a list to a dictionary with elements as keys and indices as values
original_list = ['apple', 'banana', 'orange', 'grape']

index_dict = {element: index for index, element in enumerate(original_list)}

# Example
print("Original list:", original_list)
print("Dictionary with elements as keys and indices as values:", index_dict)

Original list: ['apple', 'banana', 'orange', 'grape']
Dictionary with elements as keys and indices as values: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

## **38. Shuffle the elements of a list randomly.**

In [10]:
import random

# Shuffle the elements of a list randomly
original_list = [1, 2, 3, 4, 5]

shuffled_list = original_list.copy()  # Create a copy to avoid modifying the original list directly
random.shuffle(shuffled_list)

# Example
print("Original list:", original_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [2, 3, 4, 1, 5]

## **39. Create a list of the first 10 factorial numbers.**

In [11]:
# Create a list of the first 10 factorial numbers
def factorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num - 1)

factorial_numbers = [factorial(i) for i in range(10)]

# Example
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

## **40. Check if two lists have at least one element in common.**

In [14]:
# Check if two lists have at least one element in common
def have_common_element(list1, list2):
    return bool(set(list1) & set(list2))

# Example
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

result = have_common_element(list1, list2)

print("List 1:", list1)
print("List 2:", list2)
print("Do the lists have at least one element in common?", result)

List 1: [1, 2, 3, 4, 5]
List 2: [5, 6, 7, 8, 9]
Do the lists have at least one element in common? True

## **41. Remove all elements from a list.**

In [16]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

## **42. Replace negative numbers in a list with 0.**

In [ ]:
# Example list
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

## **43. Convert a string into a list of words.**

In [ ]:
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

## **44. Convert a list of words into a string**

In [ ]:
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

## **45. Create a list of the first `n` powers of 2.**

In [ ]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

## **46. Find the longest string in a list of strings.**

In [17]:
# Example list of strings
string_list = ["apple", "banana", "aasif", "majeed", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

## **47. Find the shortest string in a list of strings.**

In [18]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "asif", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: asif

## **48. Create a list of the first `n` triangular numbers.**

# Triangular Numbers

Triangular numbers are a sequence of numbers that can be represented in the form of an equilateral triangle. The nth triangular number is the sum of the first n natural numbers.

The formula for the nth triangular number \(T_n\) is given by:

 n * (n + 1) // 2.

So, the sequence of triangular numbers starts as follows:

- \( T_1 = 1 \) (1)
- \( T_2 = 3 \) (1 + 2)
- \( T_3 = 6 \) (1 + 2 + 3)
- \( T_4 = 10 \) (1 + 2 + 3 + 4)
- \( T_5 = 15 \) (1 + 2 + 3 + 4 + 5)
- and so on.

Triangular numbers have various applications, including in the computation of binomial coefficients, geometric arrangements, and number patterns. They are called "triangular" because you can arrange dots or objects in the shape of an equilateral triangle to represent these numbers visually.

In [ ]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

## **49. Check if a list contains another list as a subsequence.**

In [ ]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

## **50. Swap two elements in a list by their indices.**

In [ ]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

# Topic: Tuple based practice problem :

---

## **1. Create a tuple with integers from 1 to 5.**

In [19]:
# Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

# Example
print("Tuple with integers from 1 to 5:", my_tuple)

Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

## **2. Access the third element of a tuple.**

In [ ]:
# Step 1: Create a tuple with some elements
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

## **3. Find the length of a tuple without using the `len()` function.**

In [20]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Initialize a variable to count the elements
count = 0

# Step 3: Iterate through the tuple and increment the count for each element
for i in my_tuple:
    count += 1

# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

## **4. Count the occurrences of an element in a tuple.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50, 20)

# Step 2: Choose the element to count occurrences of
element_to_count = 20

# Step 3: Initialize a variable to keep track of the count
count = 0

# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
    if item == element_to_count:
        count += 1

# Step 5: Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

## **5. Find the index of the first occurrence of an element in a tuple.**

In [21]:
# Find the index of the first occurrence of an element in a tuple
my_tuple = (1, 2, 3, 4, 5, 3)

element_to_find = 3

index_of_element = my_tuple.index(element_to_find)

# Example
print("Tuple:", my_tuple)
print(f"Index of the first occurrence of {element_to_find}: {index_of_element}")

Tuple: (1, 2, 3, 4, 5, 3)
Index of the first occurrence of 3: 2

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

## **6. Check if an element exists in a tuple.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

## **7. Convert a tuple to a list.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Convert the tuple to a list
my_list = list(my_tuple)

# Step 3: Print the resulting list
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

## **8. Convert a list to a tuple.**

In [ ]:
# Step 1: Create a list
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

## **9. Unpack the elements of a tuple into variables.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

## **10. Create a tuple of even numbers from 1 to 10.**

In [ ]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

## **11. Create a tuple of odd numbers from 1 to 10.**

In [ ]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

## **12. Concatenate two tuples.**

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

## **13. Repeat a tuple three times.**

In [ ]:
# Step 1: Create a tuple
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

## **14. Check if a tuple is empty.**

In [22]:
# Check if a tuple is empty
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Using len()
is_empty_len = len(empty_tuple) == 0
is_non_empty_len = len(non_empty_tuple) == 0

# Using truthiness
is_empty_truthiness = not empty_tuple
is_non_empty_truthiness = not non_empty_tuple

# Example
print("Using len():")
print("Is empty_tuple empty?", is_empty_len)
print("Is non_empty_tuple empty?", is_non_empty_len)

print("\nUsing truthiness:")
print("Is empty_tuple empty?", is_empty_truthiness)
print("Is non_empty_tuple empty?", is_non_empty_truthiness)

Using len():
Is empty_tuple empty? True
Is non_empty_tuple empty? False

Using truthiness:
Is empty_tuple empty? True
Is non_empty_tuple empty? False

In [23]:
# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

## **15. Create a nested tuple.**

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

## **16. Access the first element of a nested tuple.**

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

## **17. Create a tuple with a single element.**

In [ ]:
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

## **18. Compare two tuples.**

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

## **19. Delete a tuple.**

In [24]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

## **20. Slice a tuple.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

## **21. Find the maximum value in a tuple.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

# Step 3: Print the maximum value
print("Maximum value:", max_value)

Maximum value: 45

## **22. Find the minimum value in a tuple.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Step 3: Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

## **23. Convert a string to a tuple of characters.**

In [ ]:
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

## **24. Convert a tuple of characters to a string.**

In [ ]:
# Step 1: Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Step 2: Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Step 3: Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

## **25. Create a tuple from multiple data types.**

In [ ]:
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

## **26. Check if two tuples are identical.**

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

## **27. Sort the elements of a tuple.**

In [ ]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

## **28. Convert a tuple of integers to a tuple of strings.**

In [ ]:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

## **29. Convert a tuple of strings to a tuple of integers.**

In [ ]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

## **30. Merge two tuples.**

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

## **31. Flatten a nested tuple.**

In [ ]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

## **32. Create a tuple of the first 5 prime numbers.**

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

## **33. Check if a tuple is a palindrome.**

In [ ]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

## **34. Create a tuple of squares of numbers from 1 to 5.**

In [ ]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

## **35. Filter out all even numbers from a tuple.**

In [ ]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

## **36. Multiply all elements in a tuple by 2.**

In [ ]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

## **37. Create a tuple of random numbers.**

In [ ]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (96, 86, 64, 54, 55, 96, 1, 88, 85, 43)

## **38. Check if a tuple is sorted.**

In [ ]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

## **39. Rotate a tuple to the left by `n` positions.**

In [ ]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

## **40. Rotate a tuple to the right by `n` positions.**

In [ ]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

## **41. Create a tuple of the first 5 Fibonacci numbers.**

In [ ]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

## **42. Create a tuple from user input.**

In [ ]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: s,e,r,,t,y,y,u,
User input tuple: ('s', 'e', 'r', '', 't', 'y', 'y', 'u', '')

In this code, the user is prompted to enter elements separated by commas. The input is split into a list of strings using the split() method, and then converted into a tuple using the tuple() constructor. Finally, the created tuple is printed to the console.

## **43. Swap two elements in a tuple.**

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

## **44. Reverse the elements of a tuple.**

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

## **45. Create a tuple of the first `n` powers of 2.**

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

## **46. Find the longest string in a tuple of strings.**

In [ ]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

## **47. Find the shortest string in a tuple of strings.**

In [ ]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

## **48. Create a tuple of the first `n` triangular numbers.**

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

## **49. Check if a tuple contains another tuple as a subsequence.**

In [ ]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

## **50. Create a tuple of alternating 1s and 0s of length `n`.**

In [ ]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## **Topic Set based problems:**

---

## **1. Create a set with integers from 1 to 5**

In [ ]:
# Step 1: Create an empty set
my_set = set()

# Step 2: Add integers from 1 to 5 to the set
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

# Step 3: Print the final set
print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

## **2. Add an element to a set**

In [ ]:
# Step 1: Create a set
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Add an element to the set
element_to_add = 6
my_set.add(element_to_add)

# Step 4: Display the modified set
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

## **3. Remove an element from a set.**

In [ ]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

## **4. Check if an element exists in a set.**

In [ ]:
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check: 10
10 does not exist in the set.

## **5. Find the length of a set without using the `len()` function**

In [ ]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

## **6. Clear all elements from a set.**

In [ ]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

## **7. Create a set of even numbers from 1 to 10**

In [ ]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

## **8. Create a set of odd numbers from 1 to 10**

In [ ]:
# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

### **9. Find the union of two sets**

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

## **10. Find the intersection of two sets**

In [ ]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection using the intersection() method
intersection_result = set1.intersection(set2)

# Print the original sets and the intersection
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

## **11. Find the difference between two sets.**

In [ ]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

## **12. Check if a set is a subset of another set.**

In [ ]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

## **13. Check if a set is a superset of another set.**

In [ ]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

## **14. Create a set from a list**

In [ ]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

## **15. Convert a set to a list.**

In [ ]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

## **16. Remove a random element from a set.**

In [ ]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 3 : {1, 2, 4, 5}

## **17. Pop an element from a set.**

In [ ]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

## **18. Check if two sets have no elements in common.**

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

## **19. Find the symmetric difference between two sets.**

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

## **20. Update a set with elements from another set.**

In [ ]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

## **21. Create a set of the first 5 prime numbers.**

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

## **22. Check if two sets are identical.**

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

## **23. Create a frozen set**

In [ ]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

## **24. Check if a set is disjoint with another set.**

In [ ]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

## **25. Create a set of squares of numbers from 1 to 5.**

In [ ]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

## **26. Filter out all even numbers from a set.**

In [ ]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

## **27. Multiply all elements in a set by 2.**

In [ ]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

## **28. Create a set of random numbers.**

In [ ]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {64, 4, 42, 56, 29}

## **29. Check if a set is empty.**

In [ ]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

## **30. Create a nested set (hint: use frozenset).**

In [ ]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

## **31.  Remove an element from a set using the discard method.**

In [ ]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

## **32. Compare two sets.**

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

## **33. Create a set from a string.**

In [ ]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'e', 'l', 'h', 'o'}

## **34. Convert a set of strings to a set of integers.**

In [ ]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '123', '456'}
Converted Integer Set: {456, 123, 789}

## **35. Convert a set of integers to a set of strings.**

In [ ]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '4', '2', '1', '5'}

## **36. Create a set from a tuple.**

In [ ]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

## **37. Convert a set to a tuple.**

In [ ]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

## **38. Find the maximum value in a set.**

In [ ]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

## **39. Find the minimum value in a set.**

In [ ]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

## **40. Create a set from user input.**

In [ ]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> ineuron, pwskills, done
> done
Final set: {'ineuron, pwskills, done'}

## **41. Check if the intersection of two sets is empty.**

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

## **42. Create a set of the first 5 Fibonacci numbers.**

In [ ]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

## **43. Remove duplicates from a list using sets.**

In [ ]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

## **44. Check if two sets have the same elements, regardless of their count.**

In [ ]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

## **45. Create a set of the first `n` powers of 2**

In [ ]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

## **46. Find the common elements between a set and a list.**

In [ ]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

### 47. Create a set of the first `n` triangular numbers.:

Triangular numbers are a sequence of numbers that represent the number of dots in a triangular arrangement. The sequence starts with 1 and then each subsequent number is obtained by adding the next natural number.

Mathematically, the $n^{th}$ triangular number, denoted as $T_n$, is given by the formula:

$T_n$ $=$ $1+2+3+...+n=\frac {n*(n + 1)}{2}$

Visually, you can imagine triangular numbers by arranging dots in the shape of equilateral triangles:

```
   1       1 dot
   1 1      3 dots
   1 2 1     6 dots
   1 2 3 1   10 dots
```

In [ ]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 10
The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

## **48. Check if a set contains another set as a subset.**

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

## **49. Create a set of alternating 1s and 0s of length `n`.**

In [ ]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

## **50. Merge multiple sets into one.**

In [ ]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}